@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 id="store-name"><img id="green-cart" class="mr-2" src="https://content.codecademy.com/courses/asp-dot-net/food_icons/cart-green.png">VegWiz Groceries</h1>
    <p>Browse our inventory online and shop in-store!</p>
</div>

<div id="food-container">
    <!-- Loop through Model.Foods -->
    @foreach (var food in Model.Foods)
    {
        <div class="food-item pb-2 pt-2 row align-items-center">
            <div class="col-3 pl-1 pr-1 text-center" id="image-col">
                <img class="food-item-image" src=@food.ImageSrc alt=@food.Name>
            </div>
            <div class="col-6 pl-1 pr-1" id="info-col">
                <p class="food-item-info">@food.Name</p>
                <p class="food-item-info">$@String.Format("{0:0.00} / lb", food.Price)</p>
                <input type="number" min="0" id="quantity" value="1" onchange="updateTotal(this, @food.Price)" />
                <p id="display-price">@food.Price</p>
            </div>
            <div class="col-3 pl-1 pr-1 text-center" id="button-col">
                <a asp-page="/Details" asp-route-name=@food.Name class="btn text-yellow">More info</a>
            </div>
        </div>
    }
</div>

<script>
    function updateTotal(element, price) {
        let quantity = element.value;
        let total = quantity * price;
        let displayPriceElement = element.nextElementSibling;
        displayPriceElement.innerText = `$${total.toFixed(2)}`;
    }
</script>

<div class="mt-5">
    <h5>Let us know what you think!</h5>
    <form method="post">
        <div class="form-group">
            <p>How would you rate your experience?</p>
            <div class="form-check form-check-inline">
                <input class="form-check-input" asp-for="Rating" type="radio"value="1">
                <label class="form-check-label" asp-for="Rating">Bad</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" asp-for="Rating" type="radio" value="2">
                <label class="form-check-label" asp-for="Rating">Average</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" asp-for="Rating" type="radio" value="3">
                <label class="form-check-label" asp-for="Rating">Good</label>
            </div>
        </div>
        <div class="form-group">
            <label>Comments:</label>
            <textarea class="form-control" asp-for="Feedback" rows="3"></textarea>
        </div>
        <button type="submit" class="btn text-white">Submit</button>
    </form>
</div>

<hr class="mt-2" />